# Основные понятия Python

## Условные выражения (IF...ELSE, IF...ELIF)

*Конструкиця IF...ELSE*

- `if (expression):
    (code_area1)
   else:
    (code_area2)`
    
*Конструкиця IF...ELIF*

- `if (expression1):
    (code_area1)
   elif (expression2):
    (code_area2)`

### Задание 1.1.1

(**1 балл**) Написать программу, которая будет выводить:
- "Неудовлетворительно", нсли студент набрал от 0-39 баллов
- "Удовлетворительно", если студент набрал от 40-59 баллов
- "Хорошо", если студент набрал от 60-79
- "Отлично", если студент набрал от 80-100

In [ ]:
#Решение задания 1.1.1#
import random


Score = random.randint(0, 100)
print("Score: ", Score)

if (Score > 0 and Score <= 39):
    print("Неудовлетворительно")

elif (Score > 39 and Score <= 59):
    print("Удовлетворительно")

elif (Score > 59 and Score <= 79):
    print("Хорошо")

else:
    print("Отлично")

Score:  64
Хорошо

## Функции

*Функции должны делать одну вещь и делать ее хорошо и делать только ее.  © Роберт С. Мартин*

`def имя_функции(параметры):
     определение функции`

### Задание 1.1.2

(**1 балл**) Напишите программу с двумя функциями. Первая функция должна принимать в качестве параметра целое число и возвращать результат умножения этого числа на 2. Вторая функция должна принимать в качестве параметра целое число и возвращать результат деления этого числа на 4. Вызовите первую функцию, сохраните результат в пременной и передайте ее в качестве параметра во вторую функцию.

In [ ]:
#Решение задания 1.1.2#
def FirstFunction(a):
    return a * 2

def SecondFunction(a):
    return a / 4.0

try:
    a = int(input("Введите целое число: ")) #Произвольное число
    a = FirstFunction(a)
    a = SecondFunction(a)
    print("Результат:", a)

except ValueError:
	  print('Требуется целое число.')

except NameError:
	  print('Переменные не были определены.')

Введите целое число: -1
Результат: -0.5

# Библиотека NumPy

**NumPy** (от Numerical Python - "числовой Python") - библиотека, предназначенная для работы с числовыми массивами, как одномерными, так и многомерными. Массивы библиотеки NumPy похожи на встроенный тип данных Python list, но обеспечивает гораздо более эффективное хранение и операциис данными при росте размера массивов.

In [ ]:
#импорт библиотеки

import numpy as np

Дан двумерный массив:

In [ ]:
x = np.array([[12, 5, 0, 3],
              [11, 3, 7, 9],
              [3, 5, 2, 4]])

x

array([[12,  5,  0,  3],
       [11,  3,  7,  9],
       [ 3,  5,  2,  4]])

## Задание 1.2.1

(**2 балла**) С использованием функции библиотеки NumPy посчитать:
- сколько элементов меньше 8 в данном массиве
- сколько элементов меньше 6 в каждой строке массива
- сколько элементов больше 4 в каждом столбце

In [ ]:
#Решение#
import numpy as np


x = np.array([[12, 5, 0, 3],
              [11, 3, 7, 9],
              [3, 5, 2, 4]])

under8 = under6 = above4 = 0

for i in x.flat:
    if (i < 8):
        under8 += 1
    if (i < 6):
        under6 += 1
    if (i > 4):
        above4 += 1

print("under 8: ", under8)
print("under 6: ", under6)
print("above 4: ", above4)

under 8:  9
under 6:  8
above 4:  6

С использованием функции библиотеки NumPy выяснить:
- имеются ли в массиве какие-либо значения, превышающие 13
- все ли значения в каждой строке кратны двум

In [ ]:
#Решение#
import numpy as np


x = np.array([[12, 5, 0, 3],
              [11, 3, 7, 9],
              [3, 5, 2, 4]])

AnyAbove13 = True if x.max() > 13 else False
print("Any above 13: ", AnyAbove13)

print("All elements even in a row:")
for i in x:
    print(True if (i % 2).max() == 0 else False)

Any above 13:  False
All elements even in a row:
False
False
False

Создать еще один **рандомный** массив, объединить его с уже имеющимся и с помощью функций NumPy найти максимальный элемент в каждой строке.

In [ ]:
#Решение#
import numpy as np


x = np.array([[12, 5, 0, 3],
              [11, 3, 7, 9],
              [3, 5, 2, 4]])

x = np.concatenate([x, np.random.randint(0, 15, (3, 4))])

for i in x:
    print(i.max())

12
11
5
14
14
8

# Библиотека Pandas

**Pandas** - библиотека на языке Python для обработки и анализа данных. Pandas является надстройкой над библиотекой NumPy, обеспечивающей эффективную реализацию класса DataFrame. Объекты **DataFrame** - многомерные массивы с метками для строк и столбцов, а также зачастую с неоднородным типом данных и/или пропущенными данными.

In [ ]:
#импорт библиотеки

import pandas as pd

In [ ]:
path = "titanic.csv"
dataset = pd.read_csv(path)

dataset

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

## Задание 1.3.1

(**2 балла**)
1. Вывести все записи, содержащие данные о пассажирах женского пола и в возрасте старше 20 лет

In [ ]:
#Решение#
import pandas as pd

path = "titanic.csv"
dataset = pd.read_csv(path)

dataset[(dataset['Sex'] == 'female') & (dataset['Age'] > 20)]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
11,1,1,Miss. Elizabeth Bonnell,female,58.0,0,0,26.5500
...,...,...,...,...,...,...,...,...
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,female,28.0,1,0,24.0000
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
881,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250

2. Вывести дубликаты по возрасту и классу и отсортировать по этим же значениям по убыванию

In [ ]:
#Решение#
import pandas as pd

path = "titanic.csv"
dataset = pd.read_csv(path)

dataset[dataset.duplicated(['Pclass', 'Age'])].sort_values(['Pclass', 'Age'], ascending = False)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
404,0,3,Mr. Carl/Charles Peter Widegren,male,51.0,0,0,7.7500
628,0,3,Mr. Johan Svensson Lundahl,male,51.0,0,0,7.0542
664,0,3,Mr. Knud Paust Rommetvedt,male,49.0,0,0,7.7750
767,0,3,Mr. Niels Peder Jensen,male,48.0,0,0,7.8542
589,0,3,Mr. William James Elsbury,male,47.0,0,0,7.2500
...,...,...,...,...,...,...,...,...
697,1,1,Mrs. John Jacob (Madeleine Talmadge Force) Astor,female,18.0,1,0,227.5250
547,1,1,Mr. John Borland Jr Thayer,male,17.0,0,2,110.8833
777,1,1,Mrs. Albert Adrian (Vera Gillespie) Dick,female,17.0,1,0,57.0000
501,1,1,Miss. Roberta Maioni,female,16.0,0,0,86.5000
849,1,1,Miss. Mary Conover Lines,female,16.0,0,1,39.4000

3. Используя группировку:
- посчитать сколько пассажиров в каждом классе
- переименовать одну из колонок полученного датасета в колонку "Сount"
- вывести значение "Сount" для пассажиров второго класса

In [ ]:
#Решение#
import pandas as pd

path = "titanic.csv"
dataset = pd.read_csv(path)

dataset[['Survived', 'Pclass']].groupby('Pclass').count()

dataset = dataset.rename(columns={'Survived': 'Count'})

dataset[(dataset.Pclass == 2)][['Count', 'Pclass']].groupby('Pclass').count()

        Count
Pclass
2         184